<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Phones</title>
</head>
<body>
    <div class="container">

        <div class="row mt-3 mb-1 text-center">
            <div class="col-md-12">
                <h1> LIST OF PHONES </h1>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover table-sm">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">NAME</th>
                                <th scope="col">COUNT</th>
                                <th score="col">BRAND</th>
                                <th score="col">EDIT</th>
                                <th score="col">DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#rows}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{count}}</td>
                                <td>{{brand}}</td>
                                <td>
                                    <a class="btn btn-success btn-sm" href="/phones/edit/{{pid}}">Edit</a>
                                </td>
                                <td>
                                    <form action="/phones/delete/{{pid}}" method="POST">
                                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                    </form>
                                </td>
                    
                            </tr>
                            {{/rows}}
                        </tbody>
                </table>

            </div>
        
        </div>

      <a class="btn btn-warning btn-md" href="/add">Add Phone</a>

    </div>

</body>

 <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</html>